#chat2 .form-control {
    border-color: transparent;
}

#chat2 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0 0 0 1px transparent;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.bg-gray-100 {
    background-color: rgb(243 244 246);
}

#account-menu-dropdown::after{
    display: none;
}

.ql-container {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: #fefcfc;
}

.ql-snow.ql-toolbar {
    display: block;
    background: #eaecec;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.ql-editor {
    min-height: 18em;
}

.error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}

.strength {
    display: inline;
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;
    vertical-align: 2px;
}

.strengthBar {
    margin: 0 0 0 0;
    padding: 0;
}
.point {
    background: #ddd;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 20px;
}
.point:last-child {
    margin: 0 !important;
}
